<h3>Products List</h3>
<table cellspacing="0">
  <tr>
    <th>ID</th>
    <th>PRODUCT CODE</th>
    <th>VARIANT CODE</th>
    <th>LABEL</th>
    <th>DESCRIPTION</th>
    <th>PRODUCT URL</th>
    <th>PRICES</th>
  </tr>
  <% if @products["productsAvailable"] %>
    <% @products["productsAvailable"].each do |product| %>
      <tr>
        <td>
          <% product["productVariant"].each do |productVariant| %>
            <%= productVariant["id"] %>
          <% end %>
        </td>
        <td>
          <% product["productVariant"].each do |productVariant| %>
            <% productVariant["productCode"].each do |code| %>
              <%= code %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% product["productVariant"].each do |productVariant| %>
            <% productVariant["variantCode"].each do |code| %>
            <%= code %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% product["label"].each do |label| %>
            <%= label %>
          <% end %>
        </td>
        <td>
          <% product["description"].each do |description| %>
            <%= description.inspect %>
          <% end %>
        </td>
        <td>
          <% product["productURL"].each do |url| %>
            <a href="<%= url %>"><%= url %></a>
          <% end %>
        </td>
        <td>
          <% product["premiumProduct"].each do |price| %>
            <%= price["currency"] %> <%= price["content"] %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>